body
{
background-image: url("hyruleback.png");
background-size: 100%;
background-attachment: fixed;
background-size: cover;
background-position: center center
}

.entete h2
{
	font-size:17px;
	padding-left: 300px;
	margin-top: -50px
}

.entete table
{
width:100%;
border:2px solid black;
border-radius:5px;
background-image: url("parchemin.jpg");
}

.entete td img
{
	width:30px;
	height:30px;
	float:left;
	padding-left:220px;
}

.entete td
{
font-size:20px;
font-family:Forte;
width:25%;
text-align:right;
}

.entete .titre
{
border: 2px solid black;
border-radius: 5px;
font-size:40px;
font-family:Forte;
background-image: url("parchemin.jpg");
}

.entete .titre img
{
height:125px;
float:left
}

.entete img
{
float:right
}

.entete img
{
float: left;
height: 150px;
padding-left: 15px;
padding-top: 15px
}

.entete ul
{
padding-top: 15px
}

.entete ul li
{
display: inline;
border: 2px solid black;
border-radius: 0.25em;
background-image: url("bois.jpg");
font-size: 30px;
padding-left: 8px;
padding-right: 8px;
}

.recherche
{
float:right
}

.entete a
{
color: white;
text-decoration: none
}

#titre
{
	font-family:forte;
	text-align:center;
	font-size:5em;
}