body
{
	background-image: url("hyruleback.png");
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family:Forte;
}

/*Début entête*/

.entete .titre
{
	border: 2px solid black;
	border-radius: 5px;
	font-size:40px;
	font-family:Forte;
	background-image: url("parchemin.jpg");
	margin-bottom: 2px;
	padding-left:50px;
}

.entete h2
{
font-size:17px;
padding-left: 200px;
margin-top: -50px
}

.entete table
{
	width:100%;
	border:2px solid black;
	border-radius:5px;
	background-image: url("parchemin.jpg");
}

.entete td
{
font-size:20px;
font-family:Forte;
width:25%;
text-align:left;
padding-top:10px;
}

.entete th
{
text-align:right;
width: 15%;
}

.entete .titre img
{
height:125px;
float:left;
}

.entete img
{
float: left;
height: 150px;
padding-left: 15px;
padding-top: 15px
}

.entete a
{
color:black;
text-decoration: none
}

.entete td img
{
height:35px;
float:left;
margin-top: -22px
}

#link
{
padding-left: 5px
}

#link:hover
{
	color:grey;
}

#logo
{
height:100px;
float:right;
margin-top:-3.75em;
padding-right:1em
}

#bourse
{
	margin-left: -1em;
	margin-top: -1.30em;
}

/*Fin entête*/


/*Tableau produits*/

.now,.best
{
	border: 1px solid black;
	margin-top: 1em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	padding-bottom:1em;
}

.now
{
	background-color:rgba(255,255,255,0.5);
	float:left;
}

.best
{
	float:right;
	background-color:rgba(255,255,255,0.5);
	padding-bottom:1em;
	
}

.produit p
{
	padding-top:-30em;
}

.produit
{
	font-size:13pt;
	border-top-width:1px;
	border-top-style: solid;
	width:35em;
	padding-bottom: 0.8em;
	padding-top: 0.5em;
	margin-top:-5em;
	margin-left: 3em;
}

#first
{
	width:30em;
	padding-bottom: 0.8em;
	padding-top: 0.5em;
	height:8.5em;
}

.titretab
{
	border: 1px solid black;
	background-image: url("parchemin.jpg")
}

.item
{
	width:5em;
	height:5em;
	float:left;
	padding-right: 1.5em;
}

.item + p
{
	text-align:right;
	float:right;
	margin-top:2em;
	font-size:15pt;
}

.rubis
{
	width:10%;
	height:10%;
	float:right;
	padding-left:1em;
	margin-right: 1em;
	margin-top: -0.6em;
}

.quantite
{
	margin-top: 5em;
}

.panier
{
	margin-right: -5.5em;
	margin-top: 5em;
	float:right;
}

#test
{
	float:left;
}